name: Workflow del segundo ejercicio

on:
  push:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:

      - name: Run Python linter
        uses: advanced-security/python-lint-code-scanning-action@v1
        with:
          linter: pylint
