name: Workflow del segundo ejercicio

on:
  push:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      contents: read

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Run Python linter
        uses: advanced-security/python-lint-code-scanning-action@v1
        with:
          linter: pylint
