name: Workflow del segundo ejercicio

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - uses: advanced-security/python-lint-code-scanning-action@v1
        with:
          linter: pylint
